In [3]:
import pandas as pd

## <span style='color:Green'>AUO Data<span style='color:Green'>

In [15]:
name_df = "Mach"
path_df = rf"C:\Users\User\Desktop\Terry\Data\Datasets\AUO\raw\{name_df} m2-5.csv"
path_output = rf"C:\Users\User\Desktop\Terry\Data\Datasets\AUO\{name_df}.csv"

In [16]:
df_auo = pd.read_csv(path_df, index_col=0,).iloc[2:,:]
for c in df_auo:
    df_auo[c] = df_auo[c].astype(float)
    df_auo[c] = df_auo[c].astype(int)
df_auo.columns = [c.replace("-", "v") for c in list(df_auo.columns)]
df_auo.columns = [c.replace("+", "x") for c in list(df_auo.columns)]
df_auo.index = [i for i in range(0, len(df_auo))]
df_auo.head()

c:\Users\User\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,ASxSTO,ASvCVD,ASvCVD.1,ASvCVD.2,ASvCVD.3,ASvCVD.4,ASvRIE,ASvRIE.1,ASvRIE.2,ASvRIE.3,...,THvOUT.1,THvOUT.2,THvOUT.3,THvRIE,THvRIE.1,THvRIE.2,THvSTO,THvSTO.1,THvSTO.2,GB
0,0,1,0,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,1,0,1
1,0,1,0,0,0,0,0,0,1,0,...,0,0,0,1,0,0,1,0,0,1
2,0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,1,0,1
3,0,0,0,0,0,1,0,0,0,1,...,0,0,0,0,1,0,0,1,0,1
4,0,0,0,0,0,1,0,1,0,0,...,0,0,0,0,1,0,1,0,0,1

In [17]:
df_auo.to_csv(path_output)

## <span style='color:red'>UCI Data<span style='color:red'>