In [2]:
import pandas as pd

## <span style='color:Green'>AUO Data<span style='color:Green'>

In [15]:
name_df = "Mach"
path_df = rf"C:\Users\User\Desktop\Terry\Data\Datasets\AUO\raw\{name_df} m2-5.csv"
path_output = rf"C:\Users\User\Desktop\Terry\Data\Datasets\AUO\{name_df}.csv"

In [16]:
df_auo = pd.read_csv(path_df, index_col=0,).iloc[2:,:]
for c in df_auo:
    df_auo[c] = df_auo[c].astype(float)
    df_auo[c] = df_auo[c].astype(int)
df_auo.columns = [c.replace("-", "v") for c in list(df_auo.columns)]
df_auo.columns = [c.replace("+", "x") for c in list(df_auo.columns)]
df_auo.index = [i for i in range(0, len(df_auo))]
df_auo.head()

c:\Users\User\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,ASxSTO,ASvCVD,ASvCVD.1,ASvCVD.2,ASvCVD.3,ASvCVD.4,ASvRIE,ASvRIE.1,ASvRIE.2,ASvRIE.3,...,THvOUT.1,THvOUT.2,THvOUT.3,THvRIE,THvRIE.1,THvRIE.2,THvSTO,THvSTO.1,THvSTO.2,GB
0,0,1,0,0,0,0,0,0,1,0,...,0,0,0,0,1,0,0,1,0,1
1,0,1,0,0,0,0,0,0,1,0,...,0,0,0,1,0,0,1,0,0,1
2,0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,1,0,1
3,0,0,0,0,0,1,0,0,0,1,...,0,0,0,0,1,0,0,1,0,1
4,0,0,0,0,0,1,0,1,0,0,...,0,0,0,0,1,0,1,0,0,1

In [17]:
df_auo.to_csv(path_output)

## <span style='color:red'>UCI Data<span style='color:red'>

### feature encode challenge I

In [8]:
### https://www.kaggle.com/competitions/cat-in-the-dat/data?select=train.csv
name_df = "10-FEC"
df_FEC = pd.read_csv(rf"C:\Users\User\Desktop\Terry\Data\Datasets\Kaggle\raw\FEC.csv", index_col=0,)
df_FEC.columns = list(df_FEC.columns[:-1])+["GB"]
df_FEC.columns=[c.replace("_","") for c in  df_FEC.columns]

df_FEC["bin3"] = df_FEC["bin3"].replace("T",1).replace("F",0)
df_FEC["bin4"] = df_FEC["bin4"].replace("Y",1).replace("N",0)

In [42]:
df_FEC

,bin0,bin1,bin2,bin3,bin4,nom0,nom1,nom2,nom3,nom4,...,nom9,ord0,ord1,ord2,ord3,ord4,ord5,day,month,GB
id,,,,,,,,,,,,,,,,,,,,,
0,0,0,0,1,1,Green,Triangle,Snake,Finland,Bassoon,...,2f4cb3d51,2,Grandmaster,Cold,h,D,kr,2,2,0
1,0,1,0,1,1,Green,Trapezoid,Hamster,Russia,Piano,...,f83c56c21,1,Grandmaster,Hot,a,A,bF,7,8,0
2,0,0,0,0,1,Blue,Trapezoid,Lion,Russia,Theremin,...,ae6800dd0,1,Expert,Lava Hot,h,R,Jc,7,2,0
3,0,1,0,0,1,Red,Trapezoid,Snake,Canada,Oboe,...,8270f0d71,1,Grandmaster,Boiling Hot,i,D,kW,2,1,1
4,0,0,0,0,0,Red,Trapezoid,Lion,Canada,Oboe,...,b164b72a7,1,Grandmaster,Freezing,a,R,qP,7,8,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
299995,0,0,0,1,0,Red,Trapezoid,Snake,India,Oboe,...,e027decef,1,Contributor,Freezing,k,K,dh,3,8,0
299996,0,0,0,0,1,Green,Trapezoid,Lion,Russia,Piano,...,80f1411c8,2,Novice,Freezing,h,W,MO,3,2,0
299997,0,0,0,0,1,Blue,Star,Axolotl,Russia,Oboe,...,314dcc15b,3,Novice,Boiling Hot,o,A,Bn,7,9,1
299998,0,1,0,0,1,Green,Square,Axolotl,Costa Rica,Piano,...,ab0ce192b,1,Master,Boiling Hot,h,W,uJ,3,8,1
299999,0,0,0,0,1,Blue,Trapezoid,Dog,Russia,Bassoon,...,ad1af2b45,3,Contributor,Freezing,i,R,tP,1,3,0

In [43]:
# df_FEC = df_FEC.drop(columns = ["nom5", "nom6", "nom7", "nom8", "nom9", "ord5"])
df_FEC = df_FEC.drop(columns = ["nom5", "nom6", "nom7", "nom8", "nom9"])
df_FEC.columns

Index(['bin0', 'bin1', 'bin2', 'bin3', 'bin4', 'nom0', 'nom1', 'nom2', 'nom3',
       'nom4', 'ord0', 'ord1', 'ord2', 'ord3', 'ord4', 'ord5', 'day', 'month',
       'GB'],
      dtype='object')

In [9]:
for c in df_FEC:
    print(c, len(df_FEC[c].unique()))

bin0 2
bin1 2
bin2 2
bin3 2
bin4 2
nom0 3
nom1 6
nom2 6
nom3 6
nom4 4
nom5 222
nom6 522
nom7 1220
nom8 2215
nom9 11981
ord0 3
ord1 5
ord2 6
ord3 15
ord4 26
ord5 192
day 7
month 12
GB 2

In [23]:
fn = "ord3"
print(len(df_FEC[fn].unique()))
df_FEC[fn]

15

id
0         h
1         a
2         h
3         i
4         a
         ..
299995    k
299996    h
299997    o
299998    h
299999    i
Name: ord3, Length: 300000, dtype: object

In [95]:
opp = r"C:\Users\User\Desktop\Terry\Data\Datasets\Kaggle"
df_FEC.to_csv(fr"{opp}\{name_df}.csv")

### feature encode challenge II

In [3]:
### https://www.kaggle.com/competitions/cat-in-the-dat/data?select=train.csv
name_df = "FEC-II"
df_FEC = pd.read_csv(rf"C:\Users\User\Desktop\Terry\Data\Datasets\Kaggle\raw\FEC-II.csv", index_col=0,)
df_FEC.columns = list(df_FEC.columns[:-1])+["GB"]
df_FEC.columns=[c.replace("_","") for c in  df_FEC.columns]

In [4]:
df_FEC = df_FEC.dropna()
df_FEC = df_FEC.drop(columns = ["nom5", "nom6", "nom7", "nom8", "nom9"])
df_FEC["bin3"] = df_FEC["bin3"].replace("T",1).replace("F",0)
df_FEC["bin4"] = df_FEC["bin4"].replace("Y",1).replace("N",0)

In [5]:
df_FEC

,bin0,bin1,bin2,bin3,bin4,nom0,nom1,nom2,nom3,nom4,ord0,ord1,ord2,ord3,ord4,ord5,day,month,GB
id,,,,,,,,,,,,,,,,,,,
0,0.0,0.0,0.0,0,0,Red,Trapezoid,Hamster,Russia,Bassoon,3.0,Contributor,Hot,c,U,Pw,6.0,3.0,0
6,0.0,0.0,0.0,0,0,Red,Triangle,Hamster,Costa Rica,Bassoon,1.0,Grandmaster,Cold,c,R,rg,5.0,6.0,0
7,0.0,0.0,1.0,1,0,Red,Triangle,Axolotl,Finland,Bassoon,3.0,Expert,Cold,b,Y,PS,1.0,1.0,0
10,0.0,0.0,1.0,1,1,Blue,Triangle,Hamster,Finland,Bassoon,1.0,Novice,Hot,b,O,hG,7.0,5.0,1
11,0.0,0.0,1.0,0,1,Red,Square,Hamster,Costa Rica,Oboe,1.0,Contributor,Hot,b,M,xF,2.0,8.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
599990,0.0,0.0,1.0,0,1,Red,Polygon,Axolotl,India,Theremin,1.0,Novice,Freezing,i,E,DI,1.0,5.0,0
599991,1.0,0.0,0.0,1,0,Blue,Triangle,Lion,India,Piano,3.0,Contributor,Warm,f,T,dp,1.0,8.0,0
599992,1.0,0.0,0.0,1,0,Blue,Trapezoid,Hamster,Costa Rica,Theremin,2.0,Novice,Freezing,d,K,xF,7.0,12.0,0
599993,0.0,1.0,0.0,0,0,Green,Triangle,Dog,Russia,Bassoon,3.0,Contributor,Freezing,n,T,iv,7.0,12.0,0
599997,0.0,0.0,0.0,0,1,Red,Circle,Axolotl,Russia,Theremin,2.0,Contributor,Freezing,n,H,MV,7.0,5.0,0

In [6]:
for c in df_FEC:
    print(c, len(df_FEC[c].unique()))

bin0 2
bin1 2
bin2 2
bin3 2
bin4 2
nom0 3
nom1 6
nom2 6
nom3 6
nom4 4
ord0 3
ord1 5
ord2 6
ord3 15
ord4 26
ord5 190
day 7
month 12
GB 2

In [7]:
opp = r"C:\Users\User\Desktop\Terry\Data\Datasets\Kaggle"
df_FEC.to_csv(fr"{opp}\{name_df}.csv")