In [4]:
import pandas as pd

## <span style='color:Green'>AUO Data<span style='color:Green'>

In [11]:
name_df = "Cham"
path_df = rf"C:\Users\User\Desktop\Terry\Data\Datasets\AUO\raw\{name_df} m2-5.csv"
path_output = rf"C:\Users\User\Desktop\Terry\Data\Datasets\AUO\{name_df}.csv"

In [9]:
df_auo = pd.read_csv(path_df, index_col=0,).iloc[2:,:]
for c in df_auo:
    df_auo[c] = df_auo[c].astype(float)
    df_auo[c] = df_auo[c].astype(int)
df_auo.columns = [c.replace("-", ",") for c in list(df_auo.columns)]
df_auo.columns = [c.replace("+", "|") for c in list(df_auo.columns)]
df_auo.index = [i for i in range(0, len(df_auo))]
df_auo.head()

C:\Users\User\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168,169,170,171,172,173,174,175,176,177,178,179,180,181,182,183,184,185,186,187,188,189,190,191,192,193,194,195,196,197,198,199,200,201,202,203,204,205,206,207,208,209,210,211,212,213,214,215,216,217,218,219,220,221,222,223,224,225,226,227,228,229,230,231,232,233,234,235,236,237,238,239,240,241,242,243,244,245,246,247,248,249,250,251,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,271,272,273,274,275,276,277,278,279,280,281,282,283,284,285,286,287,288,289,290,291,292) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,AS|STO,"AS,CVD","AS,CVD.1","AS,CVD.2","AS,CVD.3","AS,CVD.4","AS,CVD.5","AS,CVD.6","AS,CVD.7","AS,CVD.8",...,"TH,RIE.5","TH,RIE.6","TH,RIE.7","TH,RIE.8","TH,RIE.9","TH,RIE.10","TH,STO","TH,STO.1","TH,STO.2",GB
0,0,1,1,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,1
1,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,1
2,0,0,0,0,1,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,1
3,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,1

In [10]:
df_auo.to_csv(path_output)

## <span style='color:red'>UCI Data<span style='color:red'>